# Copia este archivo a secrets.yaml y completa los valores
# NO subir secrets.yaml al repositorio

wifi_ssid: "tu_ssid"
wifi_password: "tu_password"
api_key: "tu_api_key_base64"
ota_password: "tu_ota_password"
fallback_password: "password_fallback_hotspot"
bambu_device_id: "bambu_device_id"